[data-bs-theme="dark"] {
  --bg-color: #121212;
  --bg-color-rgb: 18, 18, 18;
  --text-color: #eeeeee;

  --input-bg-color: #1e1e1e;
  --input-text-color: #f5f5f5;

  --border-color: #444;
  --label-color: #bbbbbb;

  --report-bg-color: #1a1a1a;
  --report-text-color: #f2f2f2;
}

[data-bs-theme="dark"] body {
  background-color: #333;
  color: #f5f5f5;
}

[data-bs-theme="dark"] h2,
[data-bs-theme="dark"] .clock{
  color:#fff;
  text-shadow: #000 0 0 10px;
}

[data-bs-theme="dark"] .commute-wrap {
  background: rgba(34, 34, 34, var(--user-opacity));
}

[data-bs-theme="dark"] label {
  color: inherit;
}

[data-bs-theme="dark"] .setting-btn {
  background: var(--input-bg-color);
  color: var(--input-text-color);
}

[data-bs-theme="dark"] .setting-btn:hover,
[data-bs-theme="dark"] .setting-btn.active {
  color: var(--color-brand-400);
}
